body {
    font-family: Arial, Helvetica, sans-serif;
}

a:link{
    color: blue;
}

a:visited{
    color: blue;
}
h1 {
    text-align: center;
}

h1 {
    text-align: center;
}


#projectFormDiv {
    display: block;
    text-align: center;
}

form {
    padding: 10px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width : 50%;
    max-width: 420px;
    background-color: #eeeeee;
    border: solid 1px;
    border-color: black;

}
.form_input {
    max-width: 400px;
}

#projectBrief {
    max-width: 402px;
}

input {
    display: table-cell;
    width: 100%;
}

#projectBrief {
    vertical-align: top;
}

textarea {
    width: 100%; 
}

#projectMembersLabel {
    vertical-align: top;
}

#emptyCell {
    width:100%;
}

.submitButton {
    float: right;
}