<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete a project</title>
    <link rel="stylesheet" href="delete.css">
</head>
<body>
    <div>
        <h1>Delete a project</h1>
    </div>
    <div id="deleteFormDiv">
        <div>
            <a href="/index">Home</a>
        </div>
        <div>
            <a href="/allprojectstable" target="_blank">View all existing projects</a>
        </div>
        <form action="/deleteExistingProject" method="GET">
            <div>
                <label for="projectIdSelector">Enter project id</label>
                <input id=projectIdSelector name="id" type="number" required>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>