<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>CMS Index page</h1>
    <div>
        <a href="/addproject">Add a project</a>
        <a href="/editproject">Edit a project</a>
        <a href="/deleteproject">Delete a project</a>
    </div>
    <div>
        <h3>Working links</h3>
        <ul>
            <li>root: <a href="/">/</a></li>
            <li>this page: <a href="/index">/index</a></li>
        </ul>
        <p>API calls /getProjectDetails, /getProjectName, /getClientName, /getClientEmail and /getProjectURL must be suffixed with ?id=id_number where id_number is the id of an existing project. All existing projects are returned by the /getAllProjects API call.</p>
        <ul>
            <li>API : <a href="/getAllProjects">/getAllProjects</a></li>
            <li>API : <a href="/getProjectDetails">/getProjectDetails</a></li>
            <li>API : <a href="/getProjectName">/getProjectName</a></li>
            <li>API : <a href="/getClientName">/getClientName</a></li>
            <li>API : <a href="/getClientEmail">/getClientEmail</a></li>
            <li>API : <a href="/getProjectURL">/getProjectURL</a></li>
        </ul>
    </div>
</body>
</html>